.section {
  min-height: 70vh;
  padding: 5rem 2rem;
  /* background-color: #fff; */
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.flex-2 {
  flex: 2;
}

.flex-1 {
  flex: 1;
}
